@tailwind base;
@tailwind components;

.dark {
    --color-bg-primary: #1D1D1D;
    --color-bg-secondary: #E1E1E1;
    --color-text-primary: #FFC897;
    --color-text-secondary: #D7BCFD;
    
}

.light {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #E1E1E1;
    --color-text-primary: #FF1ABF;
    --color-text-secondary: #1D1D1D;
}

@tailwind utilities;